{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="flex justify-center items-center h-screen w-screen">
    <div class="items-start block">
        <div id="buttons-menu" class="mb-1 flex justify-between">
            <a href="{% url 'index' %}" class="bg-red-700 text-white font-bold rounded p-1">Pomológio</a>
            <button onclick="showConfig()" class="bg-red-700 text-white font-bold rounded p-1">Configurações</button>
            <a href="" class="bg-red-700 text-white font-bold rounded py-1 px-8">Perfil</a>
        </div>
        <div id="buttons-pomodoro" class="border-4 px-4 pb-16 pt-4 bg-red-500">
            <div class="flex items-start">
                <button onclick="pomodoroFunc()"
                    class="border-2 mr-2 text-white font-bold rounded p-1">Pomodoro</button>
                <button onclick="shortBreakFunc()" class="border-2 text-white font-bold rounded p-1">Descanso
                    curto</button>
                <button onclick="longBreakFunc()" class="border-2 ml-2 text-white font-bold rounded p-1">Descanso
                    longo</button>
            </div>
            <div class="flex justify-center items-center">
                <span id="clock-minutes" class="mt-16 text-6xl text-white font-bold">00</span>
                <span class="mt-16 text-6xl text-white font-bold">:</span>
                <span id="clock-seconds" class="mt-16 text-6xl text-white font-bold">05</span>
            </div>
            <div class="flex justify-center items center">
                <button id="start-button" onclick="disableButton(); startCouting(); enableButton();"
                    class="mt-8 border-2 rounded py-1 px-4 text-white font-bold">Iniciar</button>
            </div>
        </div>
    </div>
</div>

<div id="painel-config" class="border-8 rounded bg-gray-500 mx-96 pb-96">
    <div class="flex justify-between border-b-2 border-gray-900 mx-4">
        <div class="flex">
            <span class="pt-4 font-bold">Configurações de tempo</span>
        </div>
        <div>
            <img class="h-10 pt-4" src="{% static 'images/xbuttom.png' %}" alt="Xbuttom">
        </div>
    </div>
    <div class="mx-4 mt-4">
        <p>Tempo(Minutos)</p> 
        <div class="mt-1 grid grid-cols-3 gap-4 border-b-2 border-gray-900 pb-2">
            <div>
                <p class="flex justify-center font-bold">Pomodoro</p>
                <div class="flex justify-center">
                    <input type="number" min="1" class="flex justify-center text-center bg-gray-400 w-4/5"></input type="number">
                </div>
            </div>
            <div>
                <p class="flex justify-center font-bold">Descanso curto</p>
                <div class="flex justify-center">
                    <input type="number" min="1" class="flex justify-center text-center bg-gray-400 w-4/5"></input>
                </div>
            </div>
            <div>
                <p class="flex justify-center font-bold">Descanso longo</p>
                <div class="flex justify-center">
                    <input type="number" min="1" class="flex justify-center text-center bg-gray-400 w-4/5"></input>
                </div>
            </div>
        </div>
    </div>

    <div class="mx-4 mt-4 flex justify-between border-b-2 border-gray-900 pb-2">
        <span>Intervalo para descanso longo</span> 
        <input type="number" min="1" class="flex justify-center text-center bg-gray-400 w-2/6"></input>
    </div>
    <div class="mx-4 mt-4 flex justify-between border-b-2 border-gray-900 pb-2">
        <span>Som do aviso</span>
        <option>Som</option>
    </div>
    <div class="mx-4 mt-4 flex justify-end pb-2">
        <button onclick="hiddenConfig()">Ok</button>
    </div>
</div>

<script>
    var isTiking = false;
    var minutesElement = document.getElementById("clock-minutes");
    var secondsElement = document.getElementById("clock-seconds");

    function couting(minutes, seconds, minutesElement, secondsElement) {
        seconds -= 1;
        if (seconds < 0) {
            seconds = 59
            minutes -= 1;
        }

        minutesElement.textContent = minutes.toLocaleString('pt-BR', { minimumIntegerDigits: 2 })
        secondsElement.textContent = seconds.toLocaleString('pt-BR', { minimumIntegerDigits: 2 });
        if (minutes == 0 && seconds == 0) {
            isTiking = false;
            switch (activeType) {
                case pomodoro:
                    shortBreakFunc();
                    break;
                case shortBreak:
                    pomodoroFunc();
                    break;
                case longBreak:
                    pomodoroFunc();
                    break;
            }
        }
    }

    function defineTime() {
        defineButtonString();
        switch (activeType) {
            case pomodoro:
                minutesElement.textContent = "25";
                break;
            case shortBreak:
                minutesElement.textContent = "05";
                break;
            case longBreak:
                minutesElement.textContent = "15";
                break;
        }
        secondsElement.textContent = "00";
    }

    function defineButtonString() {
        document.getElementById("start-button").textContent = isTiking ? "Pausar" : "Iniciar";
    }

    const pomodoro = Symbol("pomodoro");
    const shortBreak = Symbol("shortBreak");
    const longBreak = Symbol("longBreak");
    var activeType = pomodoro;

    async function startCouting() {
        isTiking = !isTiking;
        defineButtonString();

        while (isTiking) {
            minutesElement = document.getElementById("clock-minutes");
            secondsElement = document.getElementById("clock-seconds");
            var minutes = parseInt(minutesElement.textContent);
            var seconds = parseInt(secondsElement.textContent);

            couting(minutes, seconds, minutesElement, secondsElement);
            console.log("Entrou")
            await new Promise(r => setTimeout(r, 1000));
        }

    }

    function disableButton() {
        document.getElementById('start-button').disabled = true;
    }

    async function enableButton() {
        await new Promise(r => setTimeout(r, 1000));
        document.getElementById('start-button').disabled = false;
    }

    function pomodoroFunc() {
        isTiking = false;
        activeType = pomodoro
        defineTime();
        document.getElementById("buttons-pomodoro").className = "border-4 px-4 pb-16 pt-4 bg-red-500";
    }

    function shortBreakFunc() {
        isTiking = false;
        activeType = shortBreak
        defineTime();
        document.getElementById("buttons-pomodoro").className = "border-4 px-4 pb-16 pt-4 bg-blue-500";
    }

    function longBreakFunc() {
        isTiking = false;
        activeType = longBreak
        defineTime();
        document.getElementById("buttons-pomodoro").className = "border-4 px-4 pb-16 pt-4 bg-blue-800";
    }

    function showConfig() {
        document.getElementById("painel-config").hidden = false;
    }

    
    function hiddenConfig() {
        document.getElementById("painel-config").hidden = true;
    }
</script>

{% endblock %}