{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if not user.is_authenticated %}
    <script>
        location.href = "{% url 'login' %}";
    </script>
{% endif %}

<script src="{% static 'js/index.js' %}"></script>

<div class="flex justify-center items-center ">
    <img class="h-12 mr-2" src="{% static 'images/icon.png' %}" alt="Icone do site">
    <a id="site-name" href="{% url 'index' %}" class="text-3xl font-bold text-red-900">Pomológio</a>
    <a href="{% url 'teste' user.id %}">Teste</a>
</div>

<div class="flex justify-center items-center h-screen w-screen text-2xl">
    <div class="items-start block">
        <div id="buttons-menu" class="mb-1 flex justify-between border-b-2 p-2">
            <a href="{% url 'index' %}" class="bg-red-400 text-white font-bold rounded p-1">Pomológio</a>
            <button onclick="showConfig(); " class="bg-red-400 text-white font-bold rounded p-1">Configurações</button>
            <a href="{% url 'perfil'%}" class="bg-red-400 text-white font-bold rounded py-1 px-6">Perfil</a>
            <a href="{% url 'logout'%}" class="bg-red-400 text-white font-bold rounded py-1 px-6">Sair</a>
        </div>
        <div id="buttons-pomodoro" class="px-4 pb-16 pt-4 bg-red-400 rounded">
            <div class="flex items-start">
                <button onclick="pomodoroFunc()"
                    class="border-2 mr-2 text-white font-bold rounded p-1">Pomodoro</button>
                <button onclick="shortBreakFunc()" class="border-2 text-white font-bold rounded p-1">Descanso
                    curto</button>
                <button onclick="longBreakFunc()" class="border-2 ml-2 text-white font-bold rounded p-1">Descanso
                    longo</button>
            </div>
            <div class="flex justify-center items-center">
                <span id="clock-minutes" class="mt-16 text-8xl text-white font-bold">{{user.config_perfil.time_pomodoro}}</span>
                <span class="mt-16 text-8xl text-white font-bold">:</span>
                <span id="clock-seconds" class="mt-16 text-8xl text-white font-bold">00</span>
            </div>
            <div class="flex justify-center items center">
                <button id="start-button" onclick="disableButton(); startCouting(); enableButton();"
                    class="mt-8 border-2 rounded py-1 px-4 text-white font-bold">Iniciar</button>
                <button id="jump-button" onclick="nextStage(); stopAudio();"
                    class="mt-8 border-2 rounded py-1 px-4 text-white font-bold ml-2">Pular</button>
            </div>
        </div>
    </div>
</div>

{% if user.is_authenticated %}
    <div id="painel-config" class="border-8 rounded bg-gray-500 mx-96 pb-96" hidden>
        <form action="{% url 'confirm_configurations' user.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex justify-between border-b-2 border-gray-900 mx-4">
                <div class="flex">
                    <span class="pt-4 font-bold">Configurações de tempo</span>
                </div>

                <div>
                    <button type="submit" onclick="hiddenConfig()">
                        <img class="h-10 pt-4" src="{% static 'images/xbuttom.png' %}" alt="Xbuttom">
                    </button>
                </div>
            </div>
            <div class="mx-4 mt-4">
                <p>Tempo(Minutos)</p>
                <div class="mt-1 grid grid-cols-3 gap-4 border-b-2 border-gray-900 pb-2">
                    <div>
                        <p class="flex justify-center font-bold">Pomodoro</p>
                        <div class="flex justify-center">
                            <input type="number" min="1" name="time_pomodoro" value="{{user.config_perfil.time_pomodoro}}"
                                class="flex justify-center text-center bg-gray-400 w-4/5"></input type="number">
                        </div>
                    </div>
                    <div>
                        <p class="flex justify-center font-bold">Descanso curto</p>
                        <div class="flex justify-center">
                            <input type="number" min="1" name="time_short_break" value="{{user.config_perfil.time_short_break}}"
                                class="flex justify-center text-center bg-gray-400 w-4/5"></input>
                        </div>
                    </div>
                    <div>
                        <p class="flex justify-center font-bold">Descanso longo</p>
                        <div class="flex justify-center">
                            <input type="number" min="1" name="time_long_break" value="{{user.config_perfil.time_long_break}}"
                                class="flex justify-center text-center bg-gray-400 w-4/5"></input>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mx-4 mt-4 flex justify-between border-b-2 border-gray-900 pb-2">
                <span>Intervalo para descanso longo</span>
                <input type="number" min="1" name="quantity_long_break" value="{{user.config_perfil.quantity_long_break}}"
                    class="flex justify-center text-center bg-gray-400 w-2/6"></input>
            </div>
            <div class="mx-4 mt-4 flex justify-between border-b-2 border-gray-900 pb-2">
                <label>Som do aviso</label>
                <select id="sound" name="type_sound" class="bg-gray-400">
                    <option id="digital" value="digital">Digital</option>
                    <option id="clock" value="clock">Relógio</option>
                    <option id="farm" value="farm">Fazenda</option>
                    <script>defineSoundType("{{user.config_perfil.type_sound}}")</script>
                </select>
                <audio id="audio-manager" type="audio/mp3"></audio>
            </div>
            <div class="mx-4 mt-4 flex justify-end pb-2">
                <button type="submit" class="bg-gray-600 mr-2 font-bold rounded py-1 px-2" onclick="hiddenConfig()">Ok</button>
            </div>
        </form>
    </div>
{% endif %}

<script>
    var isTiking = false;
    var minutesElement = document.getElementById("clock-minutes");
    var secondsElement = document.getElementById("clock-seconds");
    var pomodoroCount = 0;

    async function playAudio() {
        var select = document.getElementById("sound");
        var value = select.options[select.selectedIndex].value;

        var audioManager = document.getElementById("audio-manager");
        if (value == "digital") {
            audioManager.src = "{% static 'audios/digital_sound.mp3' %}";
        }
        else if (value == "clock") {
            audioManager.src = "{% static 'audios/cuckko_sound.mp3' %}";
        }
        else if (value == "farm") {
            audioManager.src = "{% static 'audios/farm_sound.mp3' %}";
        }
        audioManager.play();
        await new Promise(r => setTimeout(r, 4000));
        stopAudio();
    }

    function stopAudio() {
        var audioManager = document.getElementById("audio-manager");
        audioManager.pause();
        audioManager.currentTime = 0;
    }

    function nextStage() {
        switch (activeType) {
            case pomodoro:
                if (pomodoroCount != 0 && pomodoroCount % 4 == 0) {
                    longBreakFunc();
                    break;
                }
                shortBreakFunc();
                break;
            case shortBreak:
                pomodoroFunc();
                break;
            case longBreak:
                pomodoroFunc();
                break;
        }
    }

    function couting(minutes, seconds, minutesElement, secondsElement) {
        stopAudio();
        seconds--;
        if (seconds < 0) {
            seconds = 59;
            minutes--;
        }

        minutesElement.textContent = minutes.toLocaleString('pt-BR', { minimumIntegerDigits: 2 });
        secondsElement.textContent = seconds.toLocaleString('pt-BR', { minimumIntegerDigits: 2 });

        if (minutes == 0 && seconds == 0) {
            if (activeType == pomodoro) {
                pomodoroCount++;
            }
            playAudio();
            isTiking = false;
            nextStage();
        }
    }

    function defineTime() {
        defineButtonString();
        switch (activeType) {
            case pomodoro:
                minutesElement.textContent = "{{user.config_perfil.time_pomodoro}}";
                break;
            case shortBreak:
                minutesElement.textContent = "{{user.config_perfil.time_short_break}}";
                break;
            case longBreak:
                minutesElement.textContent = "{{user.config_perfil.time_long_break}}";
                break;
        }
        secondsElement.textContent = "00";
    }

    function defineButtonString() {
        document.getElementById("start-button").textContent = isTiking ? "Pausar" : "Iniciar";
    }

    const pomodoro = Symbol("pomodoro");
    const shortBreak = Symbol("shortBreak");
    const longBreak = Symbol("longBreak");
    var activeType = pomodoro;

    async function startCouting() {
        isTiking = !isTiking;
        defineButtonString();

        while (isTiking) {
            minutesElement = document.getElementById("clock-minutes");
            secondsElement = document.getElementById("clock-seconds");
            var minutes = parseInt(minutesElement.textContent);
            var seconds = parseInt(secondsElement.textContent);

            couting(minutes, seconds, minutesElement, secondsElement);
            await new Promise(r => setTimeout(r, 1000));
        }

    }

    function disableButton() {
        document.getElementById('start-button').disabled = true;
    }

    async function enableButton() {
        await new Promise(r => setTimeout(r, 1000));
        document.getElementById('start-button').disabled = false;
    }

    var actualColorButtonMenu = "bg-red-400";
    function changeButtonsMenuColor(newColor){
        var buttonsMenu = document.getElementById("buttons-menu").children;
        for(var i = 0; i < buttonsMenu.length; i++){
            buttonsMenu[i].className = buttonsMenu[i].className.replace(actualColorButtonMenu, newColor);
        }
        actualColorButtonMenu = newColor;
    }

    function pomodoroFunc() {
        isTiking = false;
        activeType = pomodoro
        defineTime();
        document.getElementById("buttons-pomodoro").className = "px-4 pb-16 pt-4 bg-red-400 rounded";
        document.getElementById("body").className = "bg-red-500";
        document.getElementById("site-name").className ="text-3xl font-bold text-red-900";
        changeButtonsMenuColor("bg-red-400");
    }

    function shortBreakFunc() {
        isTiking = false;
        activeType = shortBreak
        defineTime();
        document.getElementById("buttons-pomodoro").className = "px-4 pb-16 pt-4 bg-blue-500";
        document.getElementById("body").className = "bg-blue-600";
        document.getElementById("site-name").className ="text-3xl font-bold text-blue-800";
        changeButtonsMenuColor("bg-blue-500");
    }

    function longBreakFunc() {
        isTiking = false;
        activeType = longBreak
        defineTime();
        document.getElementById("buttons-pomodoro").className = "px-4 pb-16 pt-4 bg-blue-800";
        document.getElementById("body").className = "bg-blue-900";
        document.getElementById("site-name").className ="text-3xl font-bold text-blue-800";
        changeButtonsMenuColor("bg-blue-800");
    }

    function showConfig() {
        document.getElementById("painel-config").hidden = false;
        document.getElementById("painel-config").scrollIntoView();
    }

    function hiddenConfig() {
        document.getElementById("painel-config").hidden = true;
    }
</script>

{% endblock %}