{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="pt-12">
    <div class="flex justify-center border-red-900 border-b-4 mx-auto mb-2">
        <p class="font-bold text-red-900">Editar usuário</p>
    </div>

    <div class="w-full h-96 container mx-auto flex flex-wrap items-center justify-center p-2">
        <form action="{% url 'change_information' user.id%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="grid grid-cols-2 gap-4 justify-center place-items-center bg-red-400 rounded-t p-4">
                <div>
                    <label class="block text-gray-800 text-2xl text-center" for="username">Nome: </label>
                    <input type="text" id="username" class="rounded mb-2 p-2 text-center" name="username"
                        value="{{user.username}}" required></input>
                </div>
                <div>
                    <label class="block text-gray-800 text-2xl text-center" for="file">Email:
                    </label>
                    <input class="rounded mb-2 p-2 text-center" name="email" value="{{user.email}}" required></input>
                </div>
                <div>
                    <label class="block text-gray-800 text-2xl text-center" for="file">Nova senha:</label>
                    <input class="rounded p-2" type="password" class="p-1 text-center" placeholder="Caso não queira alterar"
                        name="new_password"></input>
                </div>
                <div>
                    <label class="block text-gray-800 text-2xl text-center" for="file">Confirmar senha:</label>
                    <input class="rounded p-2" type="password" class="p-1 text-center" placeholder="deixe em branco" name="confirm_new_password"></input>
                </div>
            </div>
            <div class="flex justify-center pt-2 pb-4 bg-red-400 rounded-b">
                <button class="bg-red-800 flex justify-center align-items text-white rounded-md p-2" type="submit">Alterar informações</button>
                <a class="bg-red-800 flex justify-center align-items text-white rounded-md p-2 ml-4 mr-6" href="{% url 'index' %}">Página principal</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}